In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
import pandas as pd

In [26]:
cmt_df = pd.read_csv('comments.csv')

In [27]:
def sentiment_scores(sentence):
 
    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()
 
    # polarity_scores method of SentimentIntensityAnalyzer
    # object gives a sentiment dictionary.
    # which contains pos, neg, neu, and compound scores.
    sentiment_dict = sid_obj.polarity_scores(sentence)
    
#     return sentiment_dict['neg']*100, sentiment_dict['neu']*100,sentiment_dict['pos']*100
     
    #print("Overall sentiment dictionary is : ", sentiment_dict)
    #print("sentence was rated as ", sentiment_dict['neg']*100, "% Negative")
    #print("sentence was rated as ", sentiment_dict['neu']*100, "% Neutral")
    #print("sentence was rated as ", sentiment_dict['pos']*100, "% Positive")
 
    #print("Sentence Overall Rated As", end = " ")
 
    # decide sentiment as positive, negative and neutral
    if sentiment_dict['compound'] >= 0.05 :
        return "positive"
 
    elif sentiment_dict['compound'] <= - 0.05 :
        return "negative"
 
    else :
        return "neutral"

In [5]:
#sentiment_scores('- 40DC and 40HC are workable - Barge connection would be highly appreciated but not a must. - PU Credit is not negotiable and must at least be 50 USD - Pick Up Schedule: 50x units Monday 28th and 50x units week 4th of January')

In [19]:
cmt_df.head()

                                             comment
0                      2 unit will be charges $2250
1  - 40DC and 40HC are workable\n- Barge connecti...
2   Additional terms and conditions changed from ...
3                    Certificate charge 250& on user
4   ex Mundra to Hamburg - no pick up charge and ...

In [28]:
cmt_df["sentiment"]=''

cmt_df.iloc[4561,]

In [29]:
for i in range(len(cmt_df)):
    s=sentiment_scores(cmt_df.loc[i, 'comment'])
    cmt_df.loc[i,"sentiment"]=s

In [30]:
cmt_df.head()

                                             comment sentiment
0                      2 unit will be charges $2250   negative
1  - 40DC and 40HC are workable\n- Barge connecti...  positive
2   Additional terms and conditions changed from ...   neutral
3                    Certificate charge 250& on user   neutral
4   ex Mundra to Hamburg - no pick up charge and ...  positive

In [31]:
cmt_df.tail()

                                                comment sentiment
4555  Your proposition can be interesting for the cl...  positive
4556        Your urgent feedback is highly appreciated.  positive
4557  Zero pick up fee and any port Kenya and South ...  positive
4558  ZIM prefix containers NOT accepted. \nNeed con...  negative
4559  ZIM prefix units NOT allowed. \nNeed container...   neutral

In [32]:
cmt_df.to_csv('cmt_snt_anly_2.csv')